body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  background-color: #023374;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: transparent;
  opacity: 0.74;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease, opacity 200ms ease;
  transition: opacity 200ms ease, opacity 200ms ease;
  font-family: Lato, sans-serif;
  color: hsla(221.99999999999997, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px #fff;
}

.navigation-item:hover {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 1;
  color: hsla(221.99999999999997, 0.00%, 100.00%, 1.00);
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  opacity: 1;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 6px 5px #fff;
}

.navigation-item.w--current:hover {
  opacity: 1;
  color: #fff;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #efeff1;
}

.navigation-item.w--current:visited {
  color: #fff;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section-5-copy {
  position: relative;
  bottom: auto;
  overflow: visible;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f0f6ff;
  text-align: center;
}

.section-5-copy.cc-store-home-wrap {
  margin-top: auto;
  margin-right: 0px;
  margin-left: 0px;
}

.section-5-copy.cc-subscribe-form {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #f4f4f4;
}

.section-5-copy.cc-product-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  display: block;
  margin-bottom: 0px;
  padding-top: 0px;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: ". . . . ." ". . . . .";
  -ms-grid-columns: 2fr 30px 1fr 30px 1fr 30px 1.25fr 30px 1fr;
  grid-template-columns: 2fr 1fr 1fr 1.25fr 1fr;
  -ms-grid-rows: auto 30px auto;
  grid-template-rows: auto auto;
}
.paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 14px;
  text-align: center;
}

.div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.div-block img {
    display: block;
}

.footer-link {
  margin-bottom: 15px;
  opacity: 0.6;
  -webkit-transition: color 200ms ease, opacity 200ms ease;
  transition: color 200ms ease, opacity 200ms ease;
  font-size: 14px;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 1;
}

.made-with-webflow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.made-with-webflow:hover {
  opacity: 1;
}

.made-with-webflow:active {
  opacity: 0.8;
}

.links-section-footer {
  margin-top: 40px;
}

.map-container {
    padding-top: 60px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
/*map legend*/
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.info {
    padding: 6px 8px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.warning{
	display:none;
	color:red;
	font-size:bold;
}
.description a{
	white-space: nowrap; 
	display:inline-block;
}

.hydroclim-data-submit{
	color: #fff;
    background-color: #21f3b6;
    border-color: #8c8c8c;
    font-weight: bold;
}
#hydroclim-result1{
	display:none;
}

#hydroclim-result2{
	display:none;
}

#hydroclim-result3{
	display:none;
}


#loading {
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:1000;
    width:100%;
    height:100%;
    min-height:100%;
    background:#000;
    opacity:0.8;
    text-align:center;
    background:#fff;
}

#loading img {
    position:absolute;
    left:30%;
    top:25%;
    z-index:1010;
	background-color:##000
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;

}
select#basin-select{
    width:100%
}

div.dropdown.bootstrap-select.bs3.open{
    z-index:2000
}

.navbar-clim {
    background-color: #0893ce;
}

.navbar-hydro {
    background-color: #152e54;
}
.icon-bar {
    background-color: white;
}

.text-hydro {
    color: #152e54;
}

.text-clim {
    color: #0893ce;
}
.text-white {
    color: white;
}
.text-gradient {
    background: -webkit-linear-gradient(left,#152e54, #0893ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
hr {
    border-top: 1px solid #0893ce;
    margin: 0;
}
.personnel-blurb {
    padding-left: 0px;
}

.carousel-img {
    width: 100%;
    height: auto;
}
.leaflet-control-layers-click-toggle {
    background-image: url(../lib/leaflet/images/layers.png);
    width: 36px;
    height: 36px;
}
.hydroclim-data-img {
    width: 36px;
    height: 36px;
    margin: 4px;
}
.hydroclim-sidebar-group {
    margin-top: 0;
    margin-bottom: 5px;
    border: 2px solid #152e54;
}

.control-panel-toggle-option {
    height: 44px;
    width: 44px;
    margin: 2px;
}
.leaflet-control-hydroclim-data-click-toggle {
    /*background-image: url(../favicon.png);
    width: 36px;
    height: 36px;
    display: block;*/
}

.logo {
    display: block;
    text-indent: -9999px;
    width: 44px;
    height: 44px;
    background: url(../favicon.png);
    background-size: 44px 44px;
    border: 1px solid transparent;
}

.leaflet-retina .leaflet-control-layers-click-toggle {
    background-image: url(../lib/leaflet/images/layers-2x.png);
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-click-toggle {
    width: 44px;
    height: 44px;
}

.leaflet-bar a, .leaflet-control-layers-click-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

.leaflet-control-layers-selector {
    position: absolute;
}

.layer-menu-toggle  {
    cursor: pointer;
    border: none;
}

.leaflet-bottom > .control-layer-toggle {
    margin-bottom: 0;
    left: 50%
}


.control-layer-toggle-open {
    border: 1px dashed blue;
}

.layer-display {
    height: 0;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    bottom: 0;
    position: absolute;
    background-color: beige;
    margin-bottom: 0 !important;
}

.layer-display-open {
    height: 200px;
}

.hydroclim-data-display {
    height: 0;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 0;
    position: absolute;
    background-color: beige;
    margin-top: 0 !important;
    display:none;
}

.hydroclim-data-display-open {
    height: 200px;
    display: inline-block;
}

.hydroclim-data-options-selector {
    display: inline-block;
    margin: 5px;
}

.hydroclim-data-options-label {
    display: block;
}

.leaflet-center {
    width: 100% !important;
}
.leaflet-top, .leaflet-right > .leaflet-control-layers, .leaflet-control-layers-expanded {
    width:auto;
}
.leaflet-control-layers-list {
    overflow-y: auto;
    overflow-x: hidden;
}
.leaflet-control-layers-open {
    padding-right: 50px;
    width:100% !important;
}

.hydroclim-layers {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    height: auto;
    border-bottom: 1px solid black;
}

.hydroclim-layers-base-maps {
    display: inline-block;
    width: auto;
    height: auto;
}
.hydroclim-layers-overlays {
    display: inline-block;
    width: auto;
    height: auto;
}
.layers-container {
    display: inline-block;
    width: 262px;
}
.hydroclim-sidebar-group-label {
    display: block;
    height: 30px;
    margin-bottom: 0;
    text-align: center;
}
.map-object-selector {
    float: left;
    display: inline-block;
    position: relative;
    margin-bottom: 1px;
    margin-top: 1px;
}
.map-object-container {
    margin: 0;
}
.map-object-selector-label {
    position: absolute;
    left: 0;
    margin-top: 5px;
    margin-left: 5px;
    background-color: white;
}

.leaflet-control-layers-overlays {
    width: 100%;
    height: 100%;
    position: relative;
}
.leaflet-control-layers-base {
    width: 100%;
    height: 100%;
    position: relative;
}
.base-maps-display {
    width: 50%;
    height: 100%;
    display: inline-block;
    left: 0;
    position: absolute;
}
.overlay-display {
    width: 50%;
    height: 100%;
    display: inline-block;
    right: 0;
    position: absolute;
}
.leaflet-control-layers-data-options {
    min-height: 175px;
}
.leaflet-control-layers-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80%;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
}


.control-panel-toggle {
    height: 2.5em;
}
.maximized {
    width: 80%;
    max-height: 80%;
    overflow:hidden;
}

.display-radio {
    visibility: visible;
}

label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

label > input + img { /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}

label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #f00;
}
.leaflet-right .leaflet-control {
    float:none;
}

.personnel-picture {
    background-color: lightgray;
}
html, body {
    height: 100%;
}
.body-content {
    height: 100%;
}
.title-toggle {
    font-weight: 700;
}
.image-selector  {
    width: 260px;
    height: 50px;
}
#map {
    min-height: 210px;
    background-color: beige;
    height: 100%;
}

#basin-map{
    min-height: 480px;
    height: 100%;
}

#egrip {
    height: 100%;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    cursor: col-resize;
}

.panel-resizable {
    resize: horizontal;
    height: 99%;
    margin-top: 5px;
    overflow: auto;
    width: 10%;
    display: inline-block;
}
.dropdown-label {
    font-weight: normal;
}
.map-parent {
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.map-parent-inner {
    height: 100%;
    width: 260px;
    margin-right: 5px;
   }
.map-child {
    top: 0;
    right: 0;
    width: 99%;
    height: 100%;
    outline: 1px solid #ccc;
}

.section {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}
.active {
    color: #fff;
    background-color: #080808;
}
#data-selection-model {
    display: none;
}
#map.leaflet-fullscreen-on {
    max-height: none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .personnel-blurb {
        padding-left: 15px;
    }
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #1979cc;
    #border-color: #031a44;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #fbfff8;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.parameter-panel>.panel-default>.panel-heading {
    color: #fff;
    background-color: #639550;
    padding: 5px 5px 5px 5px;
    #border-color: #031a44;
}
.parameter-panel>.panel-default>.panel-heading a{
    color: #fff;
}
.parameter-panel>.panel-default>.panel-heading>.row{
    font-size:1em;
}